#workHistory {
padding-top: 5rem;
}

#workHistory>h4{
width: fit-content;
margin: auto;
}

.workHistorLine{
    width: 3px;
    height: 380px;
    margin-top: 1rem;
    background-color: #CFD1D7;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    z-index: -1;
    left: 50%;
    
}

.workDetails{
    width: max-content;
}

.companyName{
    font-size: 16px;
    font-weight: 400;
    color: #4f4f4f;
}

.role{
    font-size: 14px;
    color: #4f4f4f;
    margin-top: 0.25rem;
}

.duration{
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: #9e9e9e;
}

.workHistorLine .workDetails:nth-child(2){
    /* color: green;  */
    position: absolute;
    left: 3rem;
    top: 3rem;
}

.workHistorLine .workDetails:nth-child(4){
    /* color: blue;  */
    position: absolute;
    right: 3rem;
    top: 10rem;
    text-align: right;
}

.workHistorLine .workDetails:nth-child(6){
    /* color: rgb(135, 135, 14);  */
    position: absolute;
    left: 3rem;
    top: 18rem;
}

.workHistorLine .workDetails:nth-child(8){
    /* color: blue;  */
    position: absolute;
    right: 3rem;
    top: 25rem;
    text-align: right;
}


