.navbar{
    padding: 1rem 2rem;
}

.logo {
    height: 55px;
    width: 55px;
    border: 2px solid #1f1f1f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}