.footer{
    background-color: #1f1f1f;
    color: aliceblue;
    margin-top: 4rem;  
}

.footer div{
    padding: 18px 0px;
    width: 87%;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
}